@{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h4>Add a new appointment</h4>

@if (@ViewBag.Error) {
  <p class="error">Sorry, this time slot has already been taken. Please, select another one</p>
}
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date, new { type = "date", required = "required" })

  @Html.LabelFor(model => model.Time)
  @Html.DropDownList("Time")

  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" class="button" value="Add appointment" class="btn btn-default" />
}
<div class="button-group">
  <p class="button">@Html.ActionLink("Back to Client", "Details", "Clients", new { id = @ViewBag.ClientId })</p>
  <p class="button">@Html.ActionLink("Back to Stylist", "Details", "Stylist", new { id = @ViewBag.StylistId })</p>
</div>