@{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h2>Are you sure you want to delete this?</h2>

<h3>@Html.ValueFor(model => model.Date, "{0:dd/MM/yyyy}") at @Html.DisplayFor(model => model.Time) for @Html.DisplayFor(model => model.Client.Name) with @Html.DisplayFor(model => model.Stylist.Name)</h3>
@using (Html.BeginForm())
{
  <input type="submit" class="button" value="Delete" />
}

<p class="button">@Html.ActionLink("Back to Appointment", "Details", new { id = Model.AppointmentId })</p>