@{
  Layout = "_Layout";
}

@model HairSalon.Models.Appointment

<h3>Edit this appointment:</h3>

<h4>@Html.ValueFor(model => model.Date, "{0:dd/MM/yyyy}") at @Html.DisplayFor(model => model.Time) for @Html.DisplayFor(model => model.Client.Name) with @Html.DisplayFor(model => model.Stylist.Name)</h4>

@if (@ViewBag.Error) {
  <p class="error">Sorry, this time slot has already been taken. Please, select another one</p>
}

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AppointmentId)

  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date, new { type = "date", required = "required" })

  @Html.LabelFor(model => model.Time)
  @Html.DropDownList("Time")

  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" class="button" value="Save" />
}

<p class="button">@Html.ActionLink("Back to Appointment", "Details", new { id = Model.AppointmentId })</p>