@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client for @ViewBag.StylistId</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {required = "required" })

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" class="button" value="Add new client" class="btn btn-default" />
}
<p class="button">@Html.ActionLink("Back to Stylist", "Details", "Stylists", new { id = @ViewBag.StylistId })</p>